# Created by .ignore support plugin (hsz.mobi)
/.ipynb_checkpoints/
/generation_script/.idea/
/generation_script/venv/
/generation_script/__pycache__/
/Labs/.ipynb_checkpoints/
/Labs/Ierogliph/.ipynb_checkpoints/
/.idea/
/Model_v3/.ipynb_checkpoints/
